################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EduVance-Academy-Enrollment-System-feature-LoginUi/Login UI/.vs
/EduVance-Academy-Enrollment-System-feature-LoginUi/Login UI/bin/Debug
